/* CSS để thiết lập hiển thị ảnh và text */
div{
    margin-left: 80px;
    margin-right: 800px;
}
.image-container {
    display: flex;
  }
  
  .image-item {
    text-align: center;
    margin: 0 10px;
  }
  
  .image-item img {
    width: 200px;
    height: auto;
  }
  
  .image-item p {
    margin-top: 5px;
  }
  
  /* CSS để tạo hiệu ứng khi hover vào ảnh hoặc text */
  .image-item a:hover {
    /* Đặt thuộc tính style tùy ý khi hover vào ảnh hoặc text */
    /* Ví dụ: opacity: 0.7; để làm mờ khi hover */
  }
  